body{
    margin-left: 15%;
    margin-right: 15%;
}

h1, h3 {
    font-family: sans-serif;
    margin-top: 1.5em;
}

h1{
    font-size: 32px;
}
table, tr, td, th{
    border: 1px solid black;
}
figcaption{
    font-style: italic;
}
figure{
    float: right;
}